<ng-container *ngIf="state$ | async as state">
  <ng-container *ngIf="state.taskGroup">
    <div class="bg-white px-3 pt-2 pb-3 rounded-s">
      <div class="mb-2">
        <div class="flex mb-2">
          <h3
            class="flex-grow text-black-default text-s2 font-medium leading-normal"
          >
            {{ state.taskGroup.title }}
          </h3>
          <ui-scheduled-time-sec-change-button
            class="mr-6"
            [workTimeSec]="state.taskGroup.workTimeSec || 0"
            [scheduledTimeSec]="state.taskGroup.scheduledTimeSec || 0"
            (changedScheduledTimeSec)="
              onChangedTaskGroupScheduledTime$.next($event)
            "
          ></ui-scheduled-time-sec-change-button>
        </div>
        <div class="flex items-center">
          <div #statusTriggerEl class="flex flex-col cursor-pointer p-0.5 mr-3">
            <span class="text-black-light2 text-s4 font-medium">
              {{ state.taskGroup.status }}
            </span>
            <ui-status-select-popup
              [triggerEl]="statusTriggerEl"
              [currentStatus]="state.taskGroup.status"
              (changedStatus)="onChangedTaskGroupStatus$.next($event)"
            ></ui-status-select-popup>
          </div>
          <ui-assign-change-button
            class="w-5 h-5"
            [users]="state.users"
            [selectedUserId]="state.taskGroup.assignUser?.id"
            (selectedUser)="onChangedTaskGroupAssignUser$.next($event)"
          ></ui-assign-change-button>
        </div>
      </div>
      <div class="flex gap-x-1 bg-primary-light3 rounded-s">
        <ng-container
          *ngFor="
            let item of state.taskGroup.tasks | keyvalue: noOpCompare;
            first as first
          "
        >
          <div
            class="w-1/4 p-2"
            cdkDropList
            [cdkDropListData]="item.value"
            (cdkDropListDropped)="onDrop$.next($event)"
          >
            <div *ngFor="let task of item.value" class="mb-1" cdkDrag>
              <bis-task-card [taskId]="task.id"></bis-task-card>
            </div>
            <ng-container *ngIf="first">
              <div class="relative">
                <button
                  #taskGroupAddingTriggerEl
                  class="flex items-center justify-center w-full py-2 mt-1"
                >
                  <ui-icon class="mr-1" icon="plus" size="s"></ui-icon>
                  <span class="text-s4 font-medium leading-normal">
                    タスクを追加
                  </span>
                </button>
                <ui-popup
                  [triggerEl]="taskGroupAddingTriggerEl"
                  [isCloseWhenPopupAction]="true"
                >
                  <div class="menu-items">
                    <ui-menu-item
                      [itemName]="'タスクグループを追加'"
                      [color]="'primary'"
                      [icon]="'plus'"
                      (clickedItem)="(null)"
                    ></ui-menu-item>
                    <ui-menu-item
                      class="mt-2"
                      [itemName]="'タスクを追加'"
                      [color]="'primary'"
                      [icon]="'plus'"
                      (clickedItem)="(null)"
                    ></ui-menu-item>
                  </div>
                </ui-popup>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>
</ng-container>
