<ui-sheet
  [triggerEl]="triggerEl"
  [zindex]="100"
  [title]="'プロジェクトを編集'"
  [isOpen$]="isSheetOpen$"
  (opened)="onOpenedSheet$.next()"
  (closed)="onClosedSheet$.next()"
>
  <ng-container *ngIf="state$ | async as state">
    <div class="sheet-content">
      <bis-project-property-edit-form
        [name]="state.project?.name"
        [description]="state.project?.description"
        [color]="state.project?.color"
        (changed)="onChangedProjectProperty$.next($event)"
      ></bis-project-property-edit-form>
      <ui-sheet-footer class="sheet-footer bottom-6 fixed">
        <div right-side>
          <button
            ui-button
            [disabled]="!state.project?.name"
            (click)="onClickedUpdate$.next()"
          >
            更新
          </button>
        </div>
      </ui-sheet-footer>
    </div>
  </ng-container>
</ui-sheet>
