<ng-container *ngIf="state$ | async as state">
  <ui-header>
    <div left>
      <ui-breadcrumb
        [breadcrumbs]="[
          { text: 'プロジェクト一覧', routerLink: '/projects' },
          { text: state.project?.name || '' }
        ]"
      ></ui-breadcrumb>
      <ui-back-button
        class="inline-block mt-1"
        routerLink="/projects"
      ></ui-back-button>
    </div>
    <h1
      center
      class="text-center text-s2 py-2 text-black-default font-medium m-0 leading-normal"
    >
      <span
        style="border-bottom-width: 1.5px"
        class="pb-1 border-solid border-primary-default"
      >
        プロジェクト詳細
      </span>
    </h1>
    <div right class="flex items-center justify-end">
      <ng-container *ngIf="state.project">
        <div class="relative">
          <div #triggerEl class="flex px-3 py-2 mr-1 cursor-pointer">
            <ui-icon
              icon="more-horizontal"
              size="s"
              color="primary"
              hoverColor="primary"
            ></ui-icon>
          </div>
          <ui-popup [triggerEl]="triggerEl" [isCloseWhenPopupAction]="true">
            <div class="menu-items">
              <ui-menu-item
                itemName="削除"
                color="warn"
                icon="trash-2"
                (clickedItem)="isOpenedDeleteProjectDialog$.next(true)"
              ></ui-menu-item>
            </div>
          </ui-popup>
          <bis-project-delete-dialog
            [isOpen$]="isOpenedDeleteProjectDialog$.asObservable()"
            [project]="state.project"
            (delete)="onDeleteProject$.next()"
          ></bis-project-delete-dialog>
        </div>
      </ng-container>

      <ui-user-icon
        style="width: 30px; height: 30px"
        class="flex-shrink-0"
      ></ui-user-icon>
    </div>
  </ui-header>
</ng-container>
