<div class="m-4">
  <button ui-stroked-button #projectEditButton>プロジェクトを編集</button>
  <bis-project-update-sheet
    [triggerEl]="projectEditButton.elementRef.nativeElement"
    [project]="project"
  ></bis-project-update-sheet>
</div>

<div class="m-4">
  <button ui-stroked-button #projectMemberEditButton>メンバーを編集</button>
  <bis-project-member-update-sheet
    [triggerEl]="projectMemberEditButton.elementRef.nativeElement"
    [project]="project"
  ></bis-project-member-update-sheet>
</div>

<div class="m-4">
  <button ui-stroked-button #boardCreateButton>ボードを作成</button>
  <bis-board-create-sheet
    [triggerEl]="boardCreateButton.elementRef.nativeElement"
    [project]="project"
  ></bis-board-create-sheet>
</div>

<div class="m-4">
  <button ui-stroked-button #boardUpdateButton>ボードを編集</button>
  <bis-board-update-sheet
    [triggerEl]="boardUpdateButton.elementRef.nativeElement"
    [project]="project"
    [board]="board"
  ></bis-board-update-sheet>
</div>

<div class="m-4">
  <button ui-stroked-button color="warn" #boardDeleteButton>
    ボードを削除
  </button>
  <bis-board-delete-dialog
    [triggerEl]="boardDeleteButton.elementRef.nativeElement"
    [project]="project"
    [board]="board"
  ></bis-board-delete-dialog>
</div>

<div class="m-4">
  <button ui-stroked-button #showTaskDialogButton>タスクを確認</button>
  <bis-task-dialog
    [task]="task"
    [triggerEl]="showTaskDialogButton.elementRef.nativeElement"
  ></bis-task-dialog>
</div>

<div class="m-4">
  <button ui-stroked-button #updateAdminButton>管理者を変更</button>
  <bis-project-admin-update-sheet
    [project]="project"
    [triggerEl]="updateAdminButton.elementRef.nativeElement"
  ></bis-project-admin-update-sheet>
</div>

<div class="m-4">
  <button ui-stroked-button #showReportSheetButton>レポートを確認</button>
  <bis-report-sheet
    [triggerEl]="showReportSheetButton.elementRef.nativeElement"
    [boardId]="'board001'"
  ></bis-report-sheet>
</div>

<div class="m-4 p-4 bg-primary-light3 w-6/12">
  <bis-task-card [taskId]="task.id"></bis-task-card>
</div>
