<ng-container *ngIf="state$ | async as state">
  <bis-task-dialog-template (clickedCloseButton)="onClickedCloseButton$.next()">
    <div head class="w-full flex justify-between items-center">
      <button ui-button color="primary" (click)="onClickedBackButton$.next()">
        <ui-icon icon="chevron-left" size="s" color="white"></ui-icon>
        <span class="ml-1">戻る</span>
      </button>
      <bis-tracking-bar [shouldShowClockIcon]="false"></bis-tracking-bar>
    </div>

    <div main>
      <ng-container *ngIf="state.subtask">
        <ng-container *ngIf="state.parentTask">
          <span
            class="text-s2 text-black-light2 block mb-2 underline cursor-pointer"
            [uiTooltip]="'タスク'"
            [uiTooltipDirection]="'top-left'"
            (click)="onClickedTask$.next()"
            >{{ state.parentTask.title }}</span
          >
        </ng-container>

        <div class="flex items-center">
          <ui-checkbox [checked]="state.subtask.isDone"></ui-checkbox>
          <h2 class="text-l1 text-black-default leading-normal ml-2">
            {{ state.subtask.title }}
          </h2>
        </div>
        <pre class="mt-2 text-black-default leading-normal text-s2">{{
          state.subtask.description
        }}</pre>
      </ng-container>
    </div>

    <div side-panel>
      <ng-container *ngIf="state.subtask">
        <bis-task-dialog-assign-change-button
          class="w-full"
          [users]="state.users"
          [selectedUserId]="state.subtask.assignUser?.id"
          (selectedUser)="onChangedAssignUser$.next($event)"
        ></bis-task-dialog-assign-change-button>

        <div class="mt-6 relative">
          <button
            class="focus:outline-none text-s2 text-warn-default font-medium flex items-center w-full"
            #deleteButton
          >
            <ui-icon size="s" icon="trash-2" color="warn"></ui-icon>
            <span class="ml-3">削除</span>
          </button>
          <bis-delete-confirm-popup
            [triggerEl]="deleteButton"
          ></bis-delete-confirm-popup>
        </div>
      </ng-container>
    </div>
  </bis-task-dialog-template>
</ng-container>
