<ng-container *ngIf="state$ | async as state">
  <ng-container *ngIf="state.project">
    <div class="flex justify-center font-sans px-16 pt-3 pb-8 gap-10">
      <div class="detail">
        <div class="flex items-center flex-nowrap">
          <h2
            class="text-l2 text-black-default font-medium leading-8 mr-2 project-name leading-tight"
          >
            {{ state.project.name }}
          </h2>
          <ui-color-icon
            [color]="state.project.color"
            class="color-icon"
          ></ui-color-icon>
        </div>
        <pre
          class="description text-s2 font-medium leading-normal whitespace-pre-line mt-2"
        >
          {{ state.project.description }}
        </pre>
        <button
          class="mt-3 text-s2 font-medium leading-normal text-primary-light1 focus:outline-none focus:shadow-outline_primary p-1 rounded-s"
          #projectEditButton
        >
          編集
        </button>
        <div class="mt-8">
          <div class="flex items-center justify-between">
            <p class="text-s2 text-black-default font-medium leading-8 mr-2">
              ボード
            </p>
            <ng-container *ngIf="state.project.boards.length > 0">
              <div>
                <button
                  #createBoardButton
                  class="px-2 rounded-s focus:outline-none focus:shadow-outline_primary flex items-center"
                >
                  <ui-icon icon="plus" size="s" color="primary"></ui-icon>
                </button>
                <bis-board-create-sheet
                  [triggerEl]="createBoardButton"
                  [project]="state.project"
                ></bis-board-create-sheet>
              </div>
            </ng-container>
          </div>
          <hr class="bg-primary-light3" />

          <ng-container *ngIf="state.project.boards.length <= 0">
            <button
              #createBoardButton
              class="mt-2 px-2 py-1 flex items-center justify-center rounded-s focus:outline-none focus:shadow-outline_primary"
            >
              <ui-icon icon="plus" size="s" color="primary"></ui-icon>
              <span class="text-s3 text-black-default ml-1">ボードを追加</span>
            </button>
            <bis-board-create-sheet
              [triggerEl]="createBoardButton"
              [project]="state.project"
            ></bis-board-create-sheet>
          </ng-container>

          <ng-container
            *ngFor="let board of state.project.boards; first as isFirst"
          >
            <ui-board-item
              [boardName]="board.name"
              [date]="board.createdAt"
              [ngClass]="[isFirst ? 'mt-3' : 'mt-2']"
              (clickedEdit)="onClickedEditBoard$.next(board)"
              (clickedDelete)="onClickedDeleteBoard$.next(board)"
            ></ui-board-item>
          </ng-container>
          <bis-board-update-sheet
            [isOpened$]="isOpenedEditBoardSheet$.asObservable()"
            [project]="state.project"
            [board]="state.actionTargetBoard"
          ></bis-board-update-sheet>
          <bis-board-delete-dialog
            [isOpened$]="isOpenedDeleteBoardDialog$.asObservable()"
            [project]="state.project"
            [board]="state.actionTargetBoard"
          ></bis-board-delete-dialog>
        </div>
      </div>

      <div class="duration-100 flex-1 admin-and-member-block">
        <div>
          <p class="text-s2 font-medium leading-8 flex justify-between px-1">
            <span class="text-black-default"> 管理者 </span>
            <button
              #projectAdminUpdateButton
              class="text-s2 font-medium leading-normal text-primary-light1 focus:outline-none focus:shadow-outline_primary px-1 rounded-s"
            >
              変更
            </button>
          </p>
          <hr class="bg-primary-light3" />
          <div class="flex items-center mt-2 py-2 px-3">
            <ui-user-icon
              class="w-8"
              [src]="state.project.admin.icon"
            ></ui-user-icon>
            <span class="text-s1 text-black-default font-medium ml-2">
              {{ state.project.admin.name }}
            </span>
          </div>
        </div>

        <div class="mt-9">
          <p class="text-s2 font-medium leading-8 flex justify-between px-1">
            <span class="text-black-default"> メンバー </span>
            <button
              #projectMemberUpdateButton
              class="text-s2 font-medium leading-normal text-primary-light1 focus:outline-none focus:shadow-outline_primary px-1 rounded-s"
            >
              編集
            </button>
          </p>
          <hr class="bg-primary-light3" />
          <div>
            <ng-container *ngFor="let member of state.project.members">
              <div class="flex items-center mt-2 py-1 px-3">
                <ui-user-icon class="w-8" [src]="member.icon"></ui-user-icon>
                <span class="text-s1 text-black-default font-medium ml-2">
                  {{ member.name }}
                </span>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <bis-project-update-sheet
      [triggerEl]="projectEditButton"
      [project]="state.project"
    >
    </bis-project-update-sheet>
    <bis-project-admin-update-sheet
      [triggerEl]="projectAdminUpdateButton"
      [project]="state.project"
    >
    </bis-project-admin-update-sheet>
    <bis-project-member-update-sheet
      [triggerEl]="projectMemberUpdateButton"
      [project]="state.project"
    ></bis-project-member-update-sheet>
  </ng-container>
</ng-container>
