:host {
  display: block;
}

.detail {
  justify-content: flex-start;
  min-width: 320px;
  flex: 2;
}

.admin-and-member-block {
  min-width: 160px;
}

.project-name {
  word-break: break-all;
}

.color-icon {
  width: 10px;
  height: 10px;
}
