<ng-container *ngIf="state$ | async as state">
  <div class="flex justify-center font-sans px-8">
    <div class="detail">
      <div class="flex justify-between items-center">
        <div class="flex items-center">
          <div class="text-l2 text-black-default font-medium leading-8 mr-2">
            {{ state.title }}
          </div>
          <ui-color-icon [color]="state.color" class="h-3 w-3"></ui-color-icon>
        </div>
      </div>
      <p
        class="description text-s2 font-medium leading-normal whitespace-pre-line mt-1"
      >
        {{ state.description }}
      </p>
      <button
        class="mt-3 text-s2 font-medium leading-normal text-primary-light1"
        #projectEditButton
      >
        編集
      </button>
      <div class="mt-8">
        <ui-board-item boardName="バックログ"></ui-board-item>
      </div>
      <div class="mt-8">
        <p class="text-s2 text-black-default font-medium leading-8 mr-2">
          ボード
        </p>
        <hr class="bg-primary-light3" />
        <button
          #createBoardButton
          class="mt-1 px-2 py-1 flex items-center justify-center rounded-s"
        >
          <ui-icon icon="plus" size="s" color="primary"></ui-icon>
          <span class="text-s3 text-black-default ml-1">ボードを追加</span>
        </button>
      </div>
    </div>
    <div class="px-6 pt-4 pb-8 duration-100 flex-1 admin-and-member-block">
      <p class="text-s2 font-medium leading-8 flex justify-between px-1">
        <span class="text-black-default"> 管理者 </span>
        <button
          #projectAdminUpdateButton
          class="text-s2 font-medium leading-normal text-primary-light1"
        >
          変更
        </button>
      </p>
      <hr class="bg-primary-light3" />
      <div class="flex items-center mt-2 py-2 px-3">
        <ui-user-icon class="w-8"></ui-user-icon>
        <span class="text-s1 text-black-default font-medium ml-2">
          澤部 祐
        </span>
      </div>
      <p class="text-s2 font-medium leading-8 flex justify-between mt-9 px-1">
        <span class="text-black-default"> メンバー </span>
      </p>
      <hr class="bg-primary-light3" />
      <button class="mt-1 px-2 py-1 flex items-center justify-center rounded-s">
        <ui-icon icon="plus" size="s" color="primary"></ui-icon>
        <span class="text-s3 text-black-default ml-1">メンバーを追加</span>
      </button>
    </div>
  </div>
  <bis-project-update-sheet [triggerEl]="projectEditButton" [project]="null">
  </bis-project-update-sheet>
  <bis-project-admin-update-sheet
    [triggerEl]="projectAdminUpdateButton"
    [project]="null"
  >
  </bis-project-admin-update-sheet>
  <bis-board-create-sheet
    [triggerEl]="createBoardButton"
    [project]="null"
  ></bis-board-create-sheet>
</ng-container>
