<ui-dialog
  [triggerEl]="triggerEl"
  [isOpen$]="isOpenedDialog$"
  (opened)="onOpenedDialog$.next()"
  (closed)="onClosedDialog$.next()"
>
  <ng-container [ngSwitch]="currentContentType$ | async">
    <ng-container *ngSwitchCase="'Task'">
      <bis-task-dialog-task-content></bis-task-dialog-task-content>
    </ng-container>

    <ng-container *ngSwitchCase="'Subtask'">
      <bis-task-dialog-subtask-content></bis-task-dialog-subtask-content>
    </ng-container>

    <ng-container *ngSwitchCase="'TaskGroup'">
      <bis-task-dialog-task-group-content></bis-task-dialog-task-group-content>
    </ng-container>
  </ng-container>
</ui-dialog>
