<ui-dialog
  [triggerEl]="triggerEl"
  [isOpen$]="isOpenDialog$"
  (opened)="onOpenedDialog$.next()"
  (closed)="onClosedDialog$.next()"
>
  <ng-container *ngIf="state$ | async as state">
    <bis-task-dialog-template
      (clickedCloseButton)="onClickedCloseButton$.next()"
    >
      <bis-tracking-bar
        head
        class="w-full"
        [trackingTimeSec]="state.task?.workTimeSec || 0"
        [scheduledTimeSec]="state.task?.scheduledTimeSec || 0"
      ></bis-tracking-bar>

      <div main>
        <ng-container *ngIf="state.task">
          <ng-container *ngIf="state.task.taskGroup">
            <span
              class="text-s2 text-black-light2 block mb-2 underline cursor-pointer"
              [uiTooltip]="'タスクグループ'"
              [uiTooltipDirection]="'top-left'"
              >{{ state.task.taskGroup.title }}</span
            >
          </ng-container>

          <ng-container *ngIf="!state.isEditableTitleAndDesc; else editMode">
            <h2 class="text-l1 text-black-default leading-normal">
              {{ state.task.title }}
            </h2>
            <pre class="mt-2 text-black-default leading-normal text-s2">{{
              state.task.description
            }}</pre>

            <button
              ui-fill-button
              color="primary-light3"
              class="mt-4"
              (click)="onClickedEditTitleAndDescButton$.next()"
            >
              編集
            </button>
          </ng-container>
          <ng-template #editMode>
            <div class="mt-2">
              <label for="" class="text-s2 text-black-light2 font-medium block"
                >タスク名</label
              >
              <ui-text-field
                placeholder="タスク名を入力してください"
                [text]="state.editState?.title"
                class="task-title mt-2"
                (changedValue)="onChangedTitle$.next($event)"
              ></ui-text-field>
            </div>
            <div class="mt-4">
              <label for="" class="text-s2 text-black-light2 font-medium block"
                >詳細</label
              >
              <ui-textarea
                placeholder="タスクの説明を入力してください"
                [text]="state.editState?.description"
                class="task-description leading-normal mt-2"
                (changedValue)="onChangedDescription$.next($event)"
              ></ui-textarea>
            </div>
            <div class="flex items-center justify-end mt-4">
              <button
                ui-fill-button
                (click)="onClickedEditTitleAndDescCancelButton$.next()"
              >
                キャンセル
              </button>
              <button
                ui-fill-button
                color="primary"
                class="ml-4"
                (click)="onClickedUpdateTitleAndDescButton$.next()"
              >
                更新
              </button>
            </div>
          </ng-template>

          <div class="mt-8">
            <span class="text-s2 text-black-light1 block">サブタスク</span>
            <div class="mt-2">
              <ng-container
                *ngIf="state.task.subtasks.length > 0; else nonSubtasks"
              >
                <!-- TODO: DnDの動作改善。bis-subtask-cardを利用しているとDnDの動作がなぜか重くなる。*ngIf="state$ | async as state"移行の要素が全てレンダリングされなおされてるのが原因？ -->
                <div
                  class="p-2 rounded-s bg-primary-light3 subtasks-box"
                  cdkDropList
                  (cdkDropListDropped)="onDrop$.next($event)"
                >
                  <ng-container
                    *ngFor="
                      let subtask of state.task.subtasks;
                      first as isFirst
                    "
                  >
                    <bis-subtask-card
                      [subtask]="subtask"
                      [ngClass]="[isFirst ? '' : 'mt-1']"
                      cdkDrag
                    ></bis-subtask-card>
                  </ng-container>

                  <button
                    class="mt-1 px-2 py-1 focus:outline-none focus:shadow-outline_primary flex items-center justify-center rounded-s w-full"
                  >
                    <ui-icon icon="plus" size="s" color="primary"></ui-icon>
                    <span class="text-s3 text-black-default ml-1"
                      >サブタスクを追加</span
                    >
                  </button>
                </div>
              </ng-container>
              <ng-template #nonSubtasks>
                <button
                  class="p-2 focus:outline-none focus:shadow-outline_primary flex items-center justify-start rounded-s"
                >
                  <ui-icon icon="plus" size="s" color="primary"></ui-icon>
                  <span class="text-s3 text-black-default ml-1"
                    >サブタスクを追加</span
                  >
                </button>
              </ng-template>
            </div>
          </div>
        </ng-container>
      </div>

      <div side-panel class="side-panel">
        <ng-container *ngIf="state.task">
          <bis-task-dialog-status-change-button
            class="w-full"
            [status]="state.task.status"
            (changedStatus)="onChangedStatus$.next($event)"
          ></bis-task-dialog-status-change-button>
          <div class="mt-4">
            <bis-task-dialog-assign-change-button
              class="w-full"
              [users]="state.users"
              [selectedUserId]="state.task.assignUser?.id"
              (selectedUser)="onChangedAssignUser$.next($event)"
            ></bis-task-dialog-assign-change-button>
            <bis-task-dialog-project-change-button
              class="w-full mt-3"
              [project]="state.task.board.project"
            ></bis-task-dialog-project-change-button>
            <bis-task-dialog-board-change-button
              class="w-full mt-3"
              [boards]="boards"
              [selectedBoardId]="state.task.board.id"
              (selectedBoard)="onChangedBoard$.next($event)"
            ></bis-task-dialog-board-change-button>
          </div>
          <div class="mt-6">
            <button
              class="focus:outline-none text-s2 text-warn-default font-medium flex items-center w-full"
            >
              <ui-icon size="s" icon="trash-2" color="warn"></ui-icon>
              <span class="ml-3">削除</span>
            </button>
          </div>
        </ng-container>
      </div>
    </bis-task-dialog-template>
  </ng-container>
</ui-dialog>
