:host {
  display: block;
}

.side-panel {
  min-width: 200px;
}

.task-title {
  font-size: var(--bison-font-size-l1);
  font-weight: var(--bison-font-weight-medium);
  padding: 8px 12px;
}

.task-description {
  font-size: var(--bison-font-size-s2);
  font-weight: var(--bison-font-weight-medium);
  padding: 8px 12px;
}
