<ng-container *ngIf="state$ | async as state">
  <!-- FIXME: 「ボードを削除しました」などのNotificationがヘッダーの背後に隠れてしまう -->
  <div #header class="sticky z-40 top-0">
    <router-outlet name="header"></router-outlet>
  </div>

  <div class="flex items-start mb-3">
    <aside #sideNav style="width: 240px" class="sticky flex-shrink-0 p-3 z-20">
      <ng-container
        *ngFor="let project of (state$ | async).projects; first as isFirst"
      >
        <ui-project-navigation
          [project]="project"
          [boards]="project.boards"
          (clickedCreateBoard)="
            onClickedBoardCreateButton$.next({ project: project })
          "
          (clickedDeleteProject)="
            onClickedProjectDeleteButton$.next({
              project: project
            })
          "
          (clickedDeleteBoard)="
            onClickedBoardDeleteButton$.next({
              project: project,
              board: $event
            })
          "
          [ngClass]="[isFirst ? '' : 'mt-4']"
        ></ui-project-navigation>
      </ng-container>
      <button
        class="inline-flex items-center text-s3 text-black-light2 font-medium px-3 py-1 cursor-pointer focus:outline-none focus:shadow-outline_primary rounded-s mt-4"
        (click)="isOpenedProjectCreateSheet$.next(true)"
      >
        <ui-icon
          class="mr-1"
          size="s"
          icon="plus"
          color="primary-light1"
        ></ui-icon
        >プロジェクトを作成
      </button>
    </aside>
    <div class="mt-1 flex-1"><router-outlet></router-outlet></div>
  </div>

  <bis-project-create-sheet
    [isOpened$]="isOpenedProjectCreateSheet$.asObservable()"
  ></bis-project-create-sheet>

  <bis-project-delete-dialog
    [project]="state.projectDeleteDialogState?.project"
    [isOpen$]="isOpenedProjectDeleteDialog$.asObservable()"
  ></bis-project-delete-dialog>

  <bis-board-create-sheet
    [project]="state.boardCreateSheetState?.project"
    [isOpened$]="isOpenedBoardCreateSheet$.asObservable()"
  ></bis-board-create-sheet>

  <bis-board-delete-dialog
    [project]="state.boardDeleteDialogState?.project"
    [board]="state.boardDeleteDialogState?.board"
    [isOpened$]="isOpenedBoardDeleteDialog$.asObservable()"
  ></bis-board-delete-dialog>
</ng-container>
