:host {
  display: block;
}

$width: 680px;

.sheet-content {
  width: $width;
  margin: 0 auto;
}

.sheet-footer {
  width: $width;
}

.step-count {
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

.project-name {
  font-size: var(--bison-font-size-l1);
  font-weight: var(--bison-font-weight-medium);
  padding: 8px 12px;
}

.project-description {
  padding: 8px 12px;
  font-weight: var(--bison-font-weight-medium);
}
