<ui-sheet [triggerEl]="triggerEl" [zindex]="100" [title]="'プロジェクトを作成'">
  <div class="sheet-content">
    <div class="mt-6">
      <div>
        <div class="flex items-center">
          <ui-text-field
            placeholder="プロジェクト名"
            class="project-name w-full"
            [borderless]="true"
          ></ui-text-field>
          <div class="relative">
            <button
              #colorSelectTriggerEl
              class="ml-4 p-0 flex items-center focus:outline-none"
            >
              <ui-color-icon class="h-4 w-4" color="Gray"></ui-color-icon>
              <ui-icon
                icon="chevron-down"
                size="s"
                color="primary-light1 ml-1"
              ></ui-icon>
            </button>
            <ui-color-select-popup
              [triggerEl]="colorSelectTriggerEl"
            ></ui-color-select-popup>
          </div>
        </div>
        <ui-textarea
          placeholder="説明"
          [rows]="5"
          [borderless]="true"
          class="w-full mt-3 project-description"
        ></ui-textarea>
      </div>
    </div>
    <div
      class="sheet-footer bottom-6 w-full bg-primary-light3 fixed flex rounded-m py-2 px-3"
    >
      <div class="sheet-footer-side"></div>
      <div class="sheet-footer-stepper flex justify-center items-center">
        <div
          class="step-count text-s4 font-medium bg-primary-default text-white flex justify-center items-center mr-2"
        >
          1
        </div>
        <div
          class="step-count text-s4 font-medium text-primary-default flex justify-center items-center"
        >
          2
        </div>
      </div>
      <div class="sheet-footer-side flex justify-end">
        <button ui-button>次へ</button>
      </div>
    </div>
  </div>
</ui-sheet>
